#jupyterlab
anthropic
beautifulsoup4
chromadb
datasets==3.6.0
feedparser
gensim
google-generativeai
gradio
ipykernel
ipywidgets
jupyter-dash
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
matplotlib
modal
notebook
numpy
ollama
openai
pandas
plotly
protobuf==3.20.2
psutil
pydub
python-dotenv
requests
rich
scikit-learn
scipy
sentence_transformers
setuptools
speedtest-cli
torch
tqdm
transformers
twilio
wandb